* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.list {
  margin: 0;
  padding: 0;
  background: coral;
  list-style: none;
  width: 80px;
  word-wrap: break-word;
  overflow: hidden;
  overflow-y: auto;
}

.list span {
  display: block;
  padding: 10px;
  color: white;
  cursor: pointer;
}

.list input.active, .list input:hover {
  background: tomato;
}

.main.running .ace_active-line {
  background: rgba(255,255,0,0.7) !important
}

.ace_cursor {
  display: none !important;
}

.wrapper {
  height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-content: stretch;
      -ms-flex-line-pack: stretch;
          align-content: stretch;
  position: relative;
}

.wrapper-row {
  margin: 5px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background-color: blueviolet;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-align-content: stretch;
      -ms-flex-line-pack: stretch;
          align-content: stretch;
}



/*.ace-editor, .ace-editor-wrapper {
  flex: 1;
  position: relative;
}*/

.ace-flex {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
}

.wrapper-code {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-align-content: stretch;
      -ms-flex-line-pack: stretch;
          align-content: stretch;
}

.scene {
  /*width: 100px;*/
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: teal;
}

header {
  height: 5px;
  background-color: coral;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 100%;
  z-index: 10;
}

header:hover {
  height: 55px;
}

footer {
  position: absolute;
  bottom: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  z-index: 10;
}

.flex-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.flex-item {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.play-button {
  padding: 7px 20px 5px 20px;
  overflow: hidden;
  cursor: pointer;
  background-color: tomato;
}

.pause {
  display: block;
  height: 40px;
  width: 40px;
  border: 10px solid white;
  border-top-width: 0;
  border-bottom-width: 0;
}
.play {
  display: block;
  height: 0px;
  width: 0px;
  border-style: solid;
  border-color: transparent transparent transparent white;
  border-width: 20px 0 20px 40px;
}
.replay {
  position: relative;
  display: block;
  height: 40px;
  width: 40px;
  border-radius: 40px;
  border: 8px solid white;
}
.replay .play {
  border-width: 10px 0px 10px 20px;
  position: absolute;
  top: 18px;
  right: calc(50% + 5px);
}
.replay > .play {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  border-left-color: tomato;
}

.replay > .play > .play {
  top: -10px;
  right: 5px;
}

input[type=range] {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.control {
  height: 5px;
  background-color: coral;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-content: stretch;
      -ms-flex-line-pack: stretch;
          align-content: stretch;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  overflow: hidden;
}

.control:hover {
  height: 55px;
}

.range-bar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-align-content: flex-start;
      -ms-flex-line-pack: start;
          align-content: flex-start;
}

.range-bar .progress {
  background: tomato;
  border-right: 1px solid white;
}

.list input {
  border: 0;
  font-size: 16px;
  padding: 16px 5px;
  background: coral;
  width: 100%;
  color: white;
}
.list input:hover {
  background-color: tomato;
}
.list input:focus {
  outline: none;
  background-color: tomato;
}

.header-side {
  width: 80px;
  background-color: tomato;
}

.header-middle {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: coral;
}

::-webkit-input-placeholder {
  color: white;
}

::-moz-placeholder {
  color: white;
}

:-ms-input-placeholder {
  color: white;
}

::placeholder {
  color: white;
}

.file-list input {
  cursor: pointer;
}

.cmd-button {
  cursor: pointer;
}

.footer-side {
  background-color: tomato;
  width: 80px;
}
