* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: Arial, sans-serif;
}
#dsaapp {
  /*vertical height*/
  height: 100vh;
}
.list {
  margin: 0;
  padding: 0;
  background-color: coral;
  list-style: none;
  /*width: 5px;*/
  /*position: absolute;*/
  width: 80px;
  /*word-wrap: break-word;*/
  overflow: hidden;
  overflow-y: auto;
  /*height: 100%;*/
  z-index: 10;
}
.list:hover {
  width: 80px;
}
.file-list {
  /*background-color: tomato;*/
  right: 0;
}

.list input {
  border: 0;
  font-size: 16px;
  padding: 16px 5px;
  background-color: coral;
  width: 100%;
  color: white;
}

.file-list input {
  /*background-color: tomato;*/
}

.list input:hover {
  background-color: tomato;
}
.list input:focus {
  outline: none;
  background-color: tomato;
}

.file-list input, .cmd-button {
  cursor: pointer;
}

.file-list input.active, .file-list input:hover, .file-list input:focus {
  background-color: tomato;
  /*background-color: coral;*/
}

::placeholder {
  color: white;
}


.main.running .ace_active-line {
  background-color: rgba(255, 99, 71, 0.7) !important
}

.ace_cursor {
  display: none !important;
}

.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-content: stretch;
  position: relative;
}

.wrapper-row {
  /*margin: 5px 0;*/
  display: flex;
  flex: 1;
  flex-direction: row;
  align-content: stretch;
  position: relative;
}

.ace-flex {
  flex: 1;
  position: relative;
  /*margin-right: 5px;*/
}

.wrapper-code {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-content: stretch;
  position: relative;
}

.scene {
  flex: 1;
  /*margin-left: 5px;*/
  display: flex;
  align-content: stretch;
}
.scene svg {
  flex: 1;
}

header, footer {
  /*height: 5px;*/
  height: 55px;
  /*position: absolute;*/
}

header {
  background-color: coral;
  display: flex;
  width: 100%;
  z-index: 20;
  overflow: hidden;
  text-align: center;
  font-size: 30px;
  color: white;
}

footer {
  bottom: 0;
  display: flex;
  width: 100%;
  z-index: 10;
  align-content: stretch;
  overflow: hidden;
}

/*footer:hover, header:hover {
  height: 55px;
}*/
.header-left, .header-right {
  padding: 7px 20px 5px 20px;
  width: 80px;
}
.header-left {
  background-color: coral;
}
.header-right {
  background-color: coral;
  /*background-color: tomato;*/
}

.header-middle {
  flex: 1;
  background-color: coral;
}

.play-button {
  overflow: hidden;
  cursor: pointer;
}

.pause {
  display: block;
  height: 40px;
  width: 40px;
  border: 10px solid white;
  border-top-width: 0;
  border-bottom-width: 0;
}
.play {
  display: block;
  height: 0px;
  width: 0px;
  border-style: solid;
  border-color: transparent transparent transparent white;
  border-width: 20px 0 20px 40px;
}
.replay {
  position: relative;
  display: block;
  height: 40px;
  width: 40px;
  border-radius: 40px;
  border: 8px solid white;
}
.replay .play {
  border-width: 10px 0px 10px 20px;
  position: absolute;
  top: 18px;
  right: calc(50% + 5px);
}
.replay > .play {
  transform: rotate(180deg);
  border-left-color: coral;
}

.replay > .play > .play {
  top: -10px;
  right: 5px;
}

.range-bar {
  display: flex;
  align-content: flex-start;
}

.range-bar .progress {
  background-color: tomato;
  border-right: 1px solid white;
}

header .range-bar .progress {
  background-color: coral;
}

.flex-container {
  display: flex;
}

.flex-item {
  flex: 1;
}

rect.stack {
  fill: tan;
}

g.item rect {
  fill: coral;
}

g.top-pointer rect {
  fill: tomato;
}

g.items text, g.top-pointer text {
  fill: white;
}

g.top-pointer.warning rect {
  fill: deepskyblue;
}
